html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 12rem;
}


/*Extra small devices (portrait phones, less than 576px)*/
/*No media query since this is the default in Bootstrap*/


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}


/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    html {
        font-size: 18px;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    html {
        font-size: 20px;
    }
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}


img {
    display: block;
    margin: 2rem 0;
    vertical-align: middle;
    width: 100%;
    height: auto;
}

table {
    margin: 2rem 0;
    width: 100%;
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

td, th {
    border: 1px solid #e5e5e5;
    padding: .5rem;
}

th {
    border-bottom: 2px solid #c5c5c5;
}


pre.highlight {
    padding: .75rem .5rem;
    margin: 2rem 0;
    border: 1px solid #ccc;
    border-left: 4px solid #999;
    border-radius: 4px;
}

blockquote {
    padding: .5rem 1rem;
    margin: 2rem 1rem 1rem;
    font-size: 1.25rem;
    border-left: .25rem solid #eceeef;
    font-style: italic;
}

.container {
    max-width: 60rem;
}

.navbar-brand {
    font-size: 1.5rem;
}

a.navbar-brand:focus, a.navbar-brand:hover {
    color: #990000 !important;
}

.navbar-text {
    color: #999 !important;
    display: none;
}

@media (min-width: 576px) {
    .navbar-text {
        display: inline;
    }
}



.btn-social-icon {
    padding: 0 1em 0 0;
    color: #999;
}

/*a.btn-social-icon:focus, a.btn-social-icon:hover {
    color: #555 !important;
}*/


.blog-header {
    padding-bottom: 1.25rem;
    margin-bottom: 2rem;
    border-bottom: .05rem solid #eee;
}

.blog-title {}

.blog-description {}

.blog-social-icon a {
    color: #999;
}

.blog-social-icon a:focus, .blog-social-icon a:hover {
    color: #555;
}

.blog-pagination {
    margin-bottom: 3rem;
    text-align: center;
}

.blog-pagination > .btn {
    border-radius: 1rem;
    margin: .5rem;
    width: 8rem;
}

.blog-post, .blog-page {
    margin-bottom: 3rem;
}

.blog-post-title, .blog-page-title {
    margin-bottom: .25rem;
    font-size: 2.4rem;
}

.blog-post-tags {
    display: inline-block;
    padding: 0 1rem;
}

.blog-post-meta {
    margin: .5rem 0 1rem;
    color: #999;
}

.blog-post-title a {
    color: inherit;
}

.blog-post-title a:focus, .blog-post-title a:hover {
    color: #014c8c !important;
}

.blog-related {
    margin-bottom: 3rem;
}

.blog-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2rem 0;
    color: #999;
    text-align: center;
    background-color: #fafafa;
    border-top: 1px solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}

.blog-masthead {
    margin-bottom: 3rem;
    background-color: #fafafa;
    border-top: 4px solid red;
    border-bottom: 1px solid #e5e5e5;
}

.blog-sr-only {
    display: none;
}
