
<footer class="blog-footer">
<div class="container">

    <ul class="list-inline blog-social-icon">
    {% for social_item in site.data.socialmedia %}
      {% if social_item.url contains 'http' %}
          {% assign domain = '' %}
      {% else %}
          {% assign domain = site.url %}
      {% endif %}
      <li class="list-inline-item">
          <a class="blog-social-icon" href="{{ domain }}{{ social_item.url }}" rel="me" {% if social_item.url contains 'http' %} target="_blank" {% endif %} title="{{ social_item.title }}">
              <span class="fa-stack fa-lg" aria-hidden="true">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="{{ social_item.class }} fa-stack-1x fa-inverse"></i>
            </span>
            <span class="blog-sr-only">{{ social_item.name }}</span>
          </a>
      </li>
    {% endfor %}
    </ul>

    <p class="small">2017 @iosonogio &bull; <a href="https://opensource.org/licenses/MIT" title="MIT license">MIT license</a></p>
</div>
</footer>
