<p class="blog-post-social" >

    <!--- Share on Twitter -->
    <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}+{{ site.url }}{{ page.url }}&via={{ site.owner.twitter }}"
    class="btn btn-social-icon btn-twitter" title="Share on Twitter">
    <span class="fa fa-fw fa-twitter" aria-hidden="true"></span>
    <span class="sr-only">Twitter</span>
    </a>

    <!--- Share on Google Plus -->
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
    class="btn btn-social-icon btn-google" title="Share on Google+">
    <span class="fa fa-fw fa-google-plus" aria-hidden="true"></span>
    <span class="sr-only">Google+</span>
    </a>

    <!--- Share on Facebook -->
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
    class="btn btn-social-icon btn-facebook" title="Share on Facebook">
    <span class="fa fa-fw fa-facebook" aria-hidden="true"></span>
    <span class="sr-only">Facebook</span>
    </a>

    <!--- Share on LinkedIn -->
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}"
    class="btn btn-social-icon btn-linkedin" title="Share on LinkedIn">
    <span class="fa fa-fw fa-linkedin" aria-hidden="true"></span>
    <span class="sr-only">LinkedIn</span>
    </a>

    {% if page.comments %}
        <a href="{{ site.url }}{{ page.url }}#disqus_thread" class="btn btn-social-icon" title="Leave a comment"><i class="fa fa-comments"></i></a>
    {% endif %}

    <a href="javascript:window.print()" class="btn btn-social-icon" title="Print in printer friendly format"><i class="fa fa-print"></i></a>

</p>
